@import "../app.component.scss";
.head {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.37);
}
.left {
  display: flex;
  justify-content: space-evenly;
  width: 17%;
  i{
    color: $secondary;
  }
}
.menu-right {
  i{
    color: $secondary;
  }
  width: 13%;
  display: flex;
  justify-content: space-evenly;
}
.middle {
  width: 70%;
  display: flex;
  align-items: center;
  color: $secondary;
  justify-content: space-between;
}
form {
  width: 100%;
}
.search-wrapper {
  width: 90%;
  height: 30px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  background: #f1f3f4;
  border-radius: 8px;
}
.search-wrapper:focus-within {
  background-color: #fff;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
i {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: rgb(74, 74, 74);
  outline: none;
  border-radius: 50%;
}
.inputContainer {
  width: 80%;
  input {
    border: none;
    padding-left: 10px;
  }
}

i:hover {
  background-color: rgba(32, 33, 36, 0.059);
}
.Field {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
}
