<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<!-- CSS only -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body>
   <div class=" navbar navbar-inverse " style="width:100vw;">
      <div class="navbar-header main-menu"><i class="fas fa-bars fa-2x" (click)="expand()"></i></div>
      <div class="navbar-header"> <img
            src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_2x_r2.png" style="height:35px;" />
      </div>
      <div class="inputContainer">
         <i class="fas fa-search "></i>
         <input class="Field" type="text" placeholder="Search mail" style="height: 30px;" />
      </div>
      <div class="menu right"></div>
      <i class="far fa-question-circle  fa-2x"></i>
      <i class="fas fa-cog fa-2x"></i>
      <i class="fas fa-th fa-2x "></i>
      <i class="far fa-user-circle fa-2x"></i>
   </div>

</body>