.head {
  height: 65px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.37);
  
}
form {
  width: 100%;
}
.navbar {
  margin: 0;
  margin-right: 10px;
  border-radius: unset !important;
  background-color: transparent;
}
.search-wrapper {
  width: 60%;
  height: 50px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  background: #f1f3f4;
  border-radius: 8px;
}
.search-wrapper:focus-within {
  background-color: #fff;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
i {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: rgb(74, 74, 74);
  outline: none;
  border-radius: 50%;
}
.inputContainer {
  input {
    border: none;
    outline: none;
    padding-left: 10px;
  }
}

i:hover {
  background-color: rgba(32, 33, 36, 0.059);
}
.Field {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
}
.main-menu {
  cursor: pointer;
}
.head {
  display: flex;
  align-items: center;
  .main-menu {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 10%;
  }
  .inputContainer {
    width: 70%;
  }
  .menu-right {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
  }
}
