<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<!-- CSS only -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


   <div class="navbar navbar-inverse " style="width:100vw; justify-content: flex-start; " >
      <div><i class="fas fa-bars fa-2x" style=" display: flex;justify-content: flex-start;" (click)="expand()"></i></div>
      <div class="menu right"></div>
      <div class="navbar-header"> <img
            src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_2x_r2.png" style="height:35px;" />
      </div>
      <div class="menu right"></div><div class="menu right"></div><div class="menu right"></div><div class="menu right"></div><div class="menu right"></div><div class="menu right"></div><div class="menu right"></div><div class="menu right"></div><div class="menu right"></div>
      <div class="inputContainer">
         <i class="fas fa-search "></i>
         <input class="Field" type="text" placeholder="Search mail" style="height: 30px;" />
      </div>
      <div class="menu right"></div>
      <div class="menu right"></div>
      <div class="menu right"></div><div class="menu right"></div>
      <div class="menu right"></div>
      <div class="menu right"></div><div class="menu right"></div>
      <div class="menu right"></div><div class="menu right"></div>
      <div class="menu right" style="float: inline-end; display: flex; padding-left: 10px;">
      <i class="far fa-question-circle" style="padding-left: 10px;"></i>
      <i class="fas fa-cog " style="padding-left: 10px;"></i>
      <i class="fas fa-th  " style="padding-left: 10px;"></i>
      <i class="far fa-user-circle" style="padding-left: 10px;"></i>
   </div></div>

