@import "../app.component.scss";
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.shrink:hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  .btn {
    border-radius: 15px;
    height: 50px;
    width: 80%;
    margin-left: 20px;
    span {
      display: table-cell !important;
    }
  }
}
.main-menu.shrink:hover,
nav.main-menu.expand {
  width: 250px;
  color: $secondary;
  .fa {
    color: $secondary;
  }
  .btn {
    margin-left: 20px;
    border-radius: 15px !important;
    width: 80%;
    margin-left: 20px;
    span {
      display: table-cell !important;
    }
  }
}
.shrink,
.main-menu {
  // background: #212121;
  width: 50px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  transition: all 0.09s;
  z-index: 1000;

  color: $secondary;
  .btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 0;
    span {
      display: none !important;
    }
  }
}
.main-menu > ul {
  margin: 7px 0;
}
.main-menu li {
  position: relative;
  display: block;
  width: 235px;
  span {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: $secondary;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
  color: $secondary;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
.big {
  font-size: 70px;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
.btn {
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 15px 0;
  span,
  i {
    color: #000 !important;
  }
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 11px;
  border-radius: 15px;
  // margin-left: 20px;
}

.btn:hover {
  background-color: whitesmoke !important;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
