
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<nav class="main-menu {{toggle?'expand':'shrink'}}">
  <ul>
    <li>
      <a href="#" class="btn" style="color: #FFF;"> 
        <span><i class="fa fa-plus fa-2x" style="padding-left: 5px;"></i></span>
        <span class="nav-text" style="padding-left: 10px;" >
          Compose
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-star fa-2x"></i>
        <span class="nav-text">
          Starred Messages
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-clock"></i>
        <span class="nav-text">
          Snoozed
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-angle-right fa-2x"></i>
        <span class="nav-text">
          Important
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-caret-right fa-2x"></i>
        <span class="nav-text">
          Sent Messages
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-file fa-2x"></i>
        <span class="nav-text">
          Drafts
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-hand-point-right fa-2x"></i>
        <span class="nav-text">
          Categories
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-hand-point-right fa-2x"></i>
        <span class="nav-text">
          [Gmail] Spam
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-hand-point-right fa-2x"></i>
        <span class="nav-text">
          [Map] Sent
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-hand-point-right fa-2x"></i>
        <span class="nav-text">
          Notes
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-hand-point-right fa-2x"></i>
        <span class="nav-text">
          Personal
        </span>
      </a>
    </li>
  </ul>
  <div style="width: 100%; border-style: solid;"></div>
  <ul> &nbsp;&nbsp; Meet
    <li>
      <a href="#">
        <i class="fa fa-video fa-2x"></i>
        <span class="nav-text">
          Create Meeting
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-keyboard fa-2x"></i>
        <span class="nav-text">
          Join Meeting
        </span>
      </a>
    </li>

  </ul>
  <div style="width: 100%; border-style: solid;"></div>
  <ul>

    <div style="margin-left: 60px; margin-top: 30px;">
      <a href="#">
        <i class="material-icons big">format_quote</i>
        <!-- <span class="nav-text">
          Hangouts
        </span> -->
      </a>
      <button style="width: 130px;height:40px;background-color: #499FEB;border-radius: 15px; border: none; color: #fff;">Sign in</button>
    </div>
  </ul>

</nav>