.icons-wrapper
{
    z-index: -3;
   margin-top: 10px;
  height: 40px;
  display: flex;

    
    align-items: center;
}
span{
    padding-left:10px;
    padding-right: 10px;
}
.material-icons:hover{
    background-color: rgba(0,0,0,0.3);
}

.mail-wrapper
{
  
   margin-top: 10px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
 
    align-items: center;
}
.subject-wrapper
{
    margin-top: 5px;
    width: 99%;
    position: relative;
    display: flex;
    background-color: #fff;
    height: 40px;
    flex-direction: row;
    // justify-content: space-between; 
    align-items: center; 
}
.right
{
    flex: 1;
    text-align: right;
}
.left
{
    
    flex: 1;
    text-align: left;

}
.content-wrapper
{
    margin-top: 5px;
    width: 99%;
    // position: absolute;
    display: flex;
    background-color: #fff;
    height: auto;
    padding-left: 20px;
    justify-content: center;
    padding-top:25px;
    
}
.footer-wrapper
{
    margin:0;
    width: 99%;
    padding-top: 10px;
    position: relative;
    display: flex;
    background-color: #fff;
    height: 70px;
    flex-direction: row;
    padding-bottom: 20px;
}

.large-icons
{
    font-size: 40px;
}
.large-text
{
    font-size: 30px;
    margin:0;
    height:60px
}
.btn
{
    margin-top: 5px;
    margin-left: 20px;
    
    width:120px;
    border-radius: 10px;
    background-color: transparent;
    height:40px;
    display: inline-flex;
    border-color: #000;
    span{
        padding-left:5px;
    }
    span:hover
    {
        pointer-events: none;
    }
    }

.btn:hover{
    background-color: rgba(0,0,0,0.4);
}