div 
{
    display:flex;
    
    
}
table{
    border-bottom-style:solid ;
    width: 99%;
    background-color: rgba(0,0,0,0.3);
}

.container
{
    
    border-collapse: collapse;
     width:auto;
     background-color: rgba(0,0,0,0.3);
     height:30px;
     margin-left:210px;
     align-items: center;
}
.content
{
   margin-left:5px; 
   align-items: center;
padding:5px;
}
.checkbox
{
width: 40px;
margin-left:5px;
align-items: center;
padding:5px;
}